---
import { Icon } from "astro-icon/components";

---

<footer>
  <p class="mb-5">Contacto</p>
  <div class="text-sm">
    <div class="flex items-center mb-2">
      <span class="w-8 border-r-2">
        <Icon name='phone' />
      </span>
      <a class="px-2" href="tel:+53 59205278">+53 59205278</a>
    </div>
    <div class="flex items-center mb-2">
      <span class="w-8 border-r-2">
        <Icon name='email' />
      </span>
      <a class="px-2" href="mailto:edilbertolp@pp.lt.rimed.cu">edilbertolp@pp.lt.rimed.cu</a>
    </div>
    <div class="flex items-center">
      <span class="w-8 border-r-2">
        <Icon name='location' />
      </span>
      <address class="px-2">Mártires de la Herradura #...</address>
    </div>
  </div>
</footer>